body {
    font-family: Arial sans-serif;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    width: 1305px;
}

header {
    background-color: #ff6347 ;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1305px;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
   list-style: none;
   margin: 0;
   display: flex;
   padding: 0;
}

header nav ul li {
   margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header :hover{
    color: rgb(124, 123, 122);
}

.Menu {
    text-align: center;
    padding: 50px 20px;
}

.Menu h1{
    font-size: 64px;
    margin-bottom: 30px;
    text-align: center;
}

.Menu .menu-items {
    display:inline-block;
    width: 30%;
    margin: 0 1%;
    text-align: center;
}

.Menu .menu-items img {
    width: 100%;
    border-radius: 10px;
}

.Menu .menu-items h3 {
    margin: 15px 0 10px;
}

.Menu .menu-items p {
    margin: 0 0 10px;
}

.Menu .menu-items sp {
    font-size: 1.2rem;
    color: rgb(255, 99, 71);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    width: 1329px;
    margin-top: 20px;
}

.footerContainer {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px 0;
    margin-top: 50px;
    gap: 20%;
    margin-left: 5%;
}

ul{
    text-decoration: none;
    list-style: none;
}

.firstRow{
  display: flex;
  list-style: none;
  gap: 5%;
}

p{
    text-align: center;
}

@media (max-width: 768px) {
    body{
        width: auto;
    }
    
    header{
        width: auto;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .Menu h1 {
        font-size: 32px;
    }

    .Menu .menu-items {
        width: 100%;
        margin-bottom: 20px;
    }

    footer{
        width: auto;
    }

   .footerContainer{
       gap: 10px;
       margin: 2%;
    }
}